/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { font-family: Inter-Loom;}

.gallery {
  background: transparent;
}

.gallery-cell {
  width: 66%;
  min-width: 400px;
  max-width: 680px;
  height: auto;
  margin-right: 10px;
  background: transparent;
  counter-increment: gallery-cell;
  padding: 0;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 100%;
  font-size: 24px;
  color: transparent;
}
.icon-stack-lg {
  height: 8rem;
  width: 8rem;
  font-size: 1.5rem;
}

.flickity-prev-next-button{
  visibility: hidden;
}