body {
  background-color: #1c1c1b;
  color: #fff;
  
}
.pre-bod{
  padding: 0;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: 0;
  margin: 0;
}
.bod > .social > a {
    display: inline-block;
    margin: 0px auto;
    padding: 10px 40px;
    text-align: center;
}
.bod{
  width: 100%;
  background-color: #1c1c1b;
  border: 1px solid #222;
  transition: ease-in-out, transform 1s,box-shadow 1s;
}

.bod > .social{margin:0;}
.bod > .social > a {
  display: inline-block;
  margin: 0px auto;
  padding: 10px 30px;
  text-align: center;
  color: #ff7500;
  transition: all linear 100ms;
}
.bod > .social > a:hover {
  color: #ffffff;
}

:hover.bod {
  transform: translateZ(50px) translateX(0px) translateY(0px);
  box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
}
.mask {
  background-color: rgba(0, 0, 0, .3);
}

.theme-style-1 h2 {
  font-size: 32px !important;
}

.theme-style-1 p {
  font-size: .98em !important;
  line-height: 180% !important;
  color: #1c1c1b;
}

#page {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.page-section {
  padding: 0;
}

.card-body {
  color: #1c1c1b
}

.at-guia-div {
  padding: 270px 0;
  margin: 80px 0;
  background: url("../img/DividerBg.jpg") repeat center;
  width: 100%;
  height: auto;
  text-align: center;
}

.at-guia-div p {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-family: MontserratLight;
  font-size: 1.6em;
  line-height: 90%;
}

#pin1 a {
  font-family: NexaHeavy;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1c1c1b;
  border-style: solid;
  border-width: 0;
  border-color: #ff7500;
  border-radius: 50px;
  padding: 12px 20px;
  margin: 0px 20px;
  display: inline-block;
  box-shadow: 0 5px 11px 0 rgba(255, 116, 2, 0), 0 4px 15px 0 rgba(255, 116, 2, 0);
}

#pin1 a:hover {
  font-family: NexaHeavy;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ff7500;
  border-style: solid;
  border-width: 0;
  border-color: #ff7500;
  border-radius: 50px;
  padding: 12px 20px;
  margin: 0px 20px;
  display: inline-block;
  box-shadow: 0 5px 11px 0 rgba(255, 116, 2, 0.18), 0 4px 15px 0 rgba(255, 116, 2, 0.18);
}

/* Small devices (Ipad, less than 991.98px)*/
@media (max-width: 991.98px) {
  #pin1 .logocetif {
    display: none;
  }

  .icon-cetif {
    display: none
  }

  .dropdown-cetif {
    display: block;
    text-align: center;
    box-shadow: none;
  }
}

.logo-igrejafilha {
  background: url('https://uploaddeimagens.com.br/images/002/352/528/original/Ativo_3_022x.png')no-repeat 30px center / auto 50px;
  z-index: 10;
  padding: 10px 10px;
  min-height: 70px;
  text-align: right;
}

@media (max-width: 1199.98px) {

  .logo-igrejafilha {
    background: none;
  }

}

/*CARD - PERFIL*/
#section2 .testimonial-card .avatar {
  border-radius: 50%;
  width: 200px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
}

#section2 .avatar img.rounded-circle {
  max-width: 200px;
}

/*Profile card 2*/
.profile-card-2 .card-img-block {
  float: left;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.profile-card-2 .card-body {
  position: relative;
}

.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.profile-card-2 h5 {
  font-weight: 600;
  color: #6ab04c;
}

.profile-card-2 .card-text {
  font-weight: 300;
  font-size: 15px;
}

.profile-card-2 .icon-block {
  float: left;
  width: 100%;
}

.profile-card-2 .icon-block a {
  text-decoration: none;
}

.profile-card-2 i {
  display: inline-block;
  font-size: 16px;
  color: #6ab04c;
  text-align: center;
  border: 1px solid #6ab04c;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

.profile-card-2 i:hover {
  background-color: #6ab04c;
  color: #fff;
}

@media (max-width: 991px){
.card-columns {
column-count: 3;
}
}
@media (max-width: 767px){
.card-columns {
column-count: 2;
}
}
@media (max-width: 575px){
.card-columns {
column-count: 1;
}
}
