.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
  }
  .view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #0000006b;
  }
    section {
      padding: 100px 0;
    }
    html, body {
      overflow-x: hidden;
    }
    body {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 400;
      background-color: #252525;
    }
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 200%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 400;
    }
    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.6rem;
    }

    .timeline-header {
      background: #1c1c1b;
      color: #FFFFFF;
      padding: 150px 0;
    }
    .timeline-header p {
      font-family: 'Allura';
      color: rgba(255, 255, 255, 0.2);
      margin-bottom: 0;
      font-size: 60px;
      margin-top: -30px;
    }

    .timeline {
      position: relative;
    }
    .timeline::before {
      content: '';
      background: #ff75004f;
      width: 5px;
      height: 95%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50px;
    }

    .timeline-item {
      width: 100%;
      margin-bottom: 70px;
    }
    .timeline-item:nth-child(even) .timeline-content {
      float: right;
      padding: 40px 30px 10px 30px;
    }
    .timeline-item:nth-child(even) .timeline-content .date {
      right: auto;
      left: 0;
    }
    .timeline-item:nth-child(even) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #ff7500 transparent transparent;
    }
    .timeline-item::after {
      content: '';
      display: block;
      clear: both;
    }

    .timeline-content {
      position: relative;
      width: 45%;
      padding: 10px 30px;
      border-radius: 4px;
      background: #f5f5f5;
      box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
    }
    .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      right: -15px;
      border-width: 10px 0 10px 15px;
      border-color: transparent transparent transparent #ff7500;
    }

    .timeline-img {
      width: 30px;
      height: 30px;
      background: #1c1c1b;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      margin-top: 25px;
      margin-left: -15px;
    }

    .timeline > .container > .timeline-item > .timeline-content > .btn-group > a {
      background: #ff7500;
      color: #FFFFFF;
      padding: 8px 20px;
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 20px;
      margin-top: 10px;
      display: inline-block;
      border-radius: 2px;
      box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
    }
    .timeline a:hover,.timeline a:active,.timeline a:focus {
      background: #1c1c1b;
      color: #FFFFFF;
      text-decoration: none;
    }

    .timeline a:focus{
      box-shadow:0 0 0 0.2rem #ff750050;
    }

    .timeline-card {
      padding: 0 !important;
    }
    .timeline-card p {
      padding: 0 20px;
    }
    .timeline-card a {
      margin-left: 20px;
    }

    .timeline-item .timeline-img-header {
      background-size: cover;
    }

    .timeline-img-header {
      height: 250px;
      position: relative;
      margin-bottom: -40px;
    }
    .timeline-img-header h2 {
      color: #FFFFFF;
      position: absolute;
      bottom: 5px;
      left: 20px;
    }

    blockquote {
      margin-top: 30px;
      color: #757575;
      border-left-color: #1c1c1b;
      padding: 0 20px;
    }

    .date {
      background: #ff7500;
      display: inline-block;
      color: #FFFFFF;
      padding: 10px;
      position: absolute;
      top: 17px;
      right: 0;
    }
    .lead{
      color: #fff;
      font-weight: 400;
      font-size: 1rem;
    }

    @media screen and (max-width: 768px) {
      .timeline::before {
        left: 50px;
      }
      .timeline .timeline-img {
        left: 50px;
      }
      .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
      }
      .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
      }
      .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #ff7500 transparent transparent;
      }
    }
